<div class="FlexEmbed" alt={{name}} style="overflow: visible;">
  <div class="FlexEmbed-ratio"></div>
  <div class="FlexEmbed-content">
    <div class="Avatar-image u-depth u-depth2" style={{-html-safe
      (concat "background-image: url(" imageURL ");")
    }}></div>
  </div>
</div>
