{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "Routing": true,
    "Quizzle": true,
    "__DEV__": true
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-shadow": [2, {"allow": ["fields"]}],
    "no-extra-semi": [0],
    "semi": [2, "always"],
    "camelcase": [1, {"properties": "never"}]
  }
}
