{{#link-to
  to
  class="
    u-flex
    u-flexAlignSelfStretch
    Type--middle
    blank-u-pdLsm
    blank-u-pdRmd
    Nav-item
  "
}}
<span class="u-flex u-flexAlignSelfCenter">{{yield}}</span>
{{/link-to}}
